In [3]:
pwd

'/Users/roycephillipsjr/Documents/Python/Udemy/Complete_Python_Bootcamp_Jose_Portilla/MY_NOTES_Complete_Python_Jose/15-PDFs_and_Spreadsheets'

In [4]:
import csv

In [7]:
# Open the file
data = open('example.csv')

In [8]:
# csv.reader
csv_data = csv.reader(data)

In [9]:
# reformat it into a python object list of lists
data_lines = list(csv_data)

In [13]:
data_lines[0:3]

[['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city'],
 ['1',
  'Joseph',
  'Zaniolini',
  'jzaniolini0@simplemachines.org',
  'Male',
  '163.168.68.132',
  'Pedro Leopoldo'],
 ['2',
  'Freida',
  'Drillingcourt',
  'fdrillingcourt1@umich.edu',
  'Female',
  '97.212.102.79',
  'Buri']]

In Jose's lecture he got an error. I didn't, but using the code in lecture below.

In [14]:
# Open the file
data = open('example.csv',encoding='utf-8')
# csv.reader
csv_data = csv.reader(data)
# reformat it into a python object list of lists
data_lines = list(csv_data)

In [18]:
# Column names
data_lines[0]

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city']

In [19]:
len(data_lines)

1001

In [20]:
for line in data_lines[:5]:
    print(line)

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city']
['1', 'Joseph', 'Zaniolini', 'jzaniolini0@simplemachines.org', 'Male', '163.168.68.132', 'Pedro Leopoldo']
['2', 'Freida', 'Drillingcourt', 'fdrillingcourt1@umich.edu', 'Female', '97.212.102.79', 'Buri']
['3', 'Nanni', 'Herity', 'nherity2@statcounter.com', 'Female', '145.151.178.98', 'Claver']
['4', 'Orazio', 'Frayling', 'ofrayling3@economist.com', 'Male', '25.199.143.143', 'Kungur']

In [22]:
# grabbing just one row
data_lines[10]

['10',
 'Hyatt',
 'Gasquoine',
 'hgasquoine9@google.ru',
 'Male',
 '221.155.106.39',
 'Złoty Stok']

In [23]:
# grabbing a single value
data_lines[10][3]

'hgasquoine9@google.ru'

In [24]:
# getting all e-mails in a single row
all_emails = []

for line in data_lines[1:15]:
    all_emails.append(line[3])
    
all_emails

['jzaniolini0@simplemachines.org',
 'fdrillingcourt1@umich.edu',
 'nherity2@statcounter.com',
 'ofrayling3@economist.com',
 'jmurrison4@cbslocal.com',
 'lgamet5@list-manage.com',
 'dhowatt6@amazon.com',
 'kherion7@amazon.com',
 'chedworth8@china.com.cn',
 'hgasquoine9@google.ru',
 'ftarra@shareasale.com',
 'abathb@umn.edu',
 'lchastangc@goo.gl',
 'cceried@yale.edu']

In [25]:
data_lines[10]

['10',
 'Hyatt',
 'Gasquoine',
 'hgasquoine9@google.ru',
 'Male',
 '221.155.106.39',
 'Złoty Stok']

In [27]:
# list of full names
full_names = []

for line in data_lines[1:]:
    full_names.append(line[1]+' '+line[2])
    
full_names[:4]

['Joseph Zaniolini', 'Freida Drillingcourt', 'Nanni Herity', 'Orazio Frayling']

## Writing to a CSV file

In [28]:
file_to_output = open('to_save_file.csv', mode='w', newline='')

In [29]:
csv_writer = csv.writer(file_to_output,delimiter=',')

In [30]:
csv_writer.writerow(['a','b','c'])

7

In [31]:
csv_writer.writerows([['1','2','3'],['4','5','6']])

In [32]:
file_to_output.close()

### Writing to existing files

In [33]:
f = open('to_save_file.csv', mode='a',newline='')

In [34]:
csv_writer = csv.writer(f)

In [35]:
csv_writer.writerow(['1','2','3'])

7

In [36]:
f.close()